<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Informatory</title>
	<link rel="stylesheet" type="text/css" href="/static/leaflet.css">
	<script type="text/javascript" src="/static/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>

<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/clinics">Clinics</a></li>
		<li><a href="/heatmap">Heatmap</a></li>
	</ul>
</nav>

<div class="main">
	