<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Informatory</title>
	<link rel="stylesheet" type="text/css" href="/static/leaflet.css">
	<script type="text/javascript" src="/static/leaflet.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/popper.min.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/heatmap.min.js"></script>
	<script type="text/javascript" src="/static/leaflet-heatmap.js"></script>
</head>
<body>




  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Nationwide</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Regions
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="/district/cayo">Cayo</a></li>
              <li><a class="dropdown-item" href="/district/belize">Belize</a></li>
              <li><a class="dropdown-item" href="/district/toledo">Toledo</a></li>
              <li><a class="dropdown-item" href="/district/stanncreek">Stann Creek</a></li>
              <li><a class="dropdown-item" href="/district/corozal">Corozal</a></li>
              <li><a class="dropdown-item" href="/district/orangewalk">Orange Walk</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<div class="main"></div>
	