<%- include('./partials/head') %>
<div class="container">
  <div class="row">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Restrictions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Vaccination Sites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Hospitals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Statistics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Heat Map</a>
      </li>
    </ul>
  </div>
</div>
<%- include('./partials/footer') %>